---
layout: default
title: Home
---
<div id="myCarousel" class="carousel slide hidden-phone">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item">
				<div class="slide-1">
					<div class="container">
						<div class="carousel-caption">
							<h1>Hello!</h1>
							<p class="lead">We are Uamuzi Bora, a UK charity working to improve public health and primary care in Western Kenya.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="slide-2">
					<div class="container">
						<div class="carousel-caption">
							<h1>Making a difference</h1>
							<p class="lead">We use an electronic medical record to improve care for more than 13,000 HIV patients in Western Kenya.</p>
							<a class="btn btn-large btn-primary" href="{{ site.url}}{{ site.baseurl }}data/hiv">See how we're doing</a>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="slide-3">
					<div class="container">
						<div class="carousel-caption">
							<h1>Grand Challenges Canada</h1>
							<p class="lead">We are recipients of a grant from Grand Challenges Canada to continue to develop and expand our HIV work.</p>
							<a class="btn btn-large btn-primary" href="{{ site.url}}{{ site.baseurl }}projects/hiv/#video">Watch our video</a>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="slide-3">
					<div class="container">
						<div class="carousel-caption">
							<h1>Maternal &amp; Child Health</h1>
							<p class="lead">We are working with the Ministry of Health in Kenya to pilot a Maternal and Child Health electronic medical record. </p>
							<a class="btn btn-large btn-primary" href="{{ site.url}}{{ site.baseurl }}data/mch">See how we're doing</a>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="slide-3">
					<div class="container">
						<div class="carousel-caption">
							<h1>Built using open source</h1>
							<p class="lead">We use OpenMRS as the foundation of our system and believe health software should be free.</p>
							<a class="btn btn-large btn-primary" href="https://github.com/uamuzibora">Get our code on GitHub</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Carousel nav -->
		
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>

	<!-- Div to contain abbreviated intro for display on phones
	================================================== -->
    <div class="container visible-phone abbreviated-intro">
    	<div class="row">
    		<div class="span12">
    			<h1>Hello!</h1>
    			<p class="lead">We are Uamuzi Bora, a UK-registered charity who use mobile information technology and an electronic medical record to improve public health and primary care in Western Kenya.</p>
    		</div>
    	</div>
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->


    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
			<h2>About us</h2>
			<p>We are a UK-registered charity who use mobile information technology and an electronic medical record to improve public health and primary care in Western Kenya.</p>
			<p><strong>Uamuzi Bora</strong> means “a better choice” in Luhya, a local language spoken in Western Kenya, and was chosen by the local communities to describe the work we do.</p>
          <p><a class="btn" href="{{ site.url }}{{ site.baseurl }}about">Read our story &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <h2>Projects</h2>
          <p>We support the Ministry of Health and partners in Kenya to implement an electronic medical record to improve linkage to care, clinical decision support, adherence to treatment and retention in care.</p>
          <p>We currently implement an electronic medical record for HIV and Maternal and Child Health in Western Kenya with the Ministry of Health.</p>
          <p><a class="btn" href="{{site.url}}{{site.baseurl}}projects">Find out more &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <h2>Latest updates</h2>
          
          {% include updates.html %}
        </div><!-- /.span4 -->
      </div><!-- /.row -->


      {% include footer.html %}

    </div><!-- /.container -->